In [28]:
import pandas as pd
from provinces import BACGKOK_VARIATIONS

In [18]:
data = {
    "name" : ["Sopa Papapa", "Sapo Apapap"],
    "location": ["กทม.", "กรุงเทพ"],
}

In [19]:
print(data)

{'name': ['Sopa Papapa', 'Sapo Apapap'], 'location': ['กทม.', 'กรุงเทพ']}

In [20]:
df = pd.DataFrame(data)

In [27]:
df

          name location
0  Sopa Papapa     กทม.
1  Sapo Apapap  กรุงเทพ

In [29]:
def clean_thai_province(value):
    if value in BACGKOK_VARIATIONS:
        return "Bangkok"
    else:
        return value

In [30]:
df_new = df.copy(deep=True)
df_new["location"] = df["location"].map(clean_thai_province)

In [26]:
df_new

          name location
0  Sopa Papapa  Bangkok
1  Sapo Apapap  Bangkok